/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 27, 2023, 4:38:01 PM
    Author     : denilson
*/

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    margin: 0 50px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 5rem;
}